/*Ajustes generales */
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --colorBG: #f0f0f0;
  --detalles: rgb(1, 140, 203);
  --textos: #fff;
  --linksBG: rgba(0, 0, 0, 0.5);
  --line-color: rgb(1, 140, 255);
  --border-color: rgba(230, 195, 0, 0.897);
  --color-Blanco: white;
  --color-Negro: black;

  /* Gradientes */
  --gradiente-A: rgba(61, 2, 116, 0.89);
  --gradiente-B: rgb(23, 21, 24);
}
/*Fin seteos*/

body {
  background-color: var(--colorBG);
  width: 100%;
}

h1,
h2 {
  text-align: center;
  font-size: 3vw; /* Cambiado para ser relativo */
  font-weight: bold;
  text-shadow: 1px 1px 2px var(--color-Negro);
}

h1 {
  color: var(--color-Blanco);
}

h2 {
  color: var(--detalles);
}

.titulo,
.tituloP {
  width: 100%;
  position: absolute;
  text-align: center;
  color: var(--color-Blanco);
}

.titulo {
  top: 40%;
}

.tituloP {
  top: 50%;
  transform: translateY(-10%);
}

/*----------BANNER------------*/
.banner {
  display: block;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      var(--gradiente-A),
      var(--gradiente-B)
    ),
    url(imagenesCv/fondoBanner.jpg);
  background-size: cover;
  background-position: center;
}

span {
  color: var(--detalles);
}

.nav {
  width: 80%;
  max-width: 1200px; /* Añadido para limitar el ancho máximo */
  margin: auto;
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav ul li {
  list-style: none;
  display: inline-block;
  margin: 20px;
  margin-left: 140px;
  justify-content: center;
  position: relative;
}

.nav ul li a {
  font-size: 1.2rem; /* Cambiado para ser relativo */
  font-weight: bold;
  text-decoration: none;
  color: var(--detalles);
  text-transform: uppercase;
  transition: 0.25s ease-in;
}

/*----------ANIMACIÓN LISTA------------*/
.nav ul li::after,
.estudio::after {
  content: "";
  height: 2px;
  width: 0%;
  background: var(--line-color);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
}

.nav ul li:hover::after,
.estudio:hover:after {
  width: 100%;
}

/*---------- FIN ANIMACIÓN LISTA------------*/
svg {
  position: absolute;
  height: 100vh;
  width: 100%;
  bottom: 0;
  left: 0;
  top: 40px;
  transform: translateY(40%);
}

/*---------- PROBANDO ANIMACIÓN CARTAS------------*/
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.habilidades {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  padding: 40px;
}

.cards {
  width: calc(33.33% - 20px);
  max-width: 300px;
  width: 100px;
  height: 300px;
  padding: 30px 25px;
  background-color: var(--colorBG);
  box-shadow: 0px 7px 10px var(--color-Negro);
  transition: all 0.5s ease;
  border-radius: 45px;
  position: relative;
}

.cards img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40px;
}

.cards:hover {
  transform: translateY(-20px);
}

.cards:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    var(--gradiente-A),
    var(--gradiente-B)
  );
  transition: all 0.5s;
  opacity: 0;
  border-radius: 40px;
}

.cards:hover:after {
  opacity: 1;
}

.cards .info {
  position: relative;
  z-index: 3;
  color: var(--colorBG);
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s;
}

.cards:hover .info {
  opacity: 1;
  transform: translateY(0);
}

.cards .info h3 {
  font-size: 1.4rem;
  margin: 0;
}

.cards .info p {
  letter-spacing: 1px;
  font-size: 0.9rem;
  margin: 10px 0 25px;
  line-height: 130%;
}

.cards .info .btn {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: var(--colorBG);
  color: var(--line-color);
  font-size: 0.85rem;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.cards .info .btn:hover {
  box-shadow: 0px 7px 10px var(--color-Negro);
  background-color: var(--detalles);
  color: var(--color-Blanco);
}
/*---------- FIN ANIMACIÓN CARTAS------------*/

/* Estilos para estudios */
.estudio {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.estudio h3 {
  text-align: center;
  font-size: 2rem; /* Cambiado para ser relativo */
  color: var(--detalles);
  font-weight: bold;
  text-shadow: 1px 1px 2px var(--color-Negro);
}

.estudio ul li {
  list-style: none;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 1.2rem; /* Cambiado para ser relativo */
  font-weight: bold;
  color: var(--line-color);
  transition: color 0.3s;
}

.estudio ul li:hover {
  color: var(--gradiente-A);
}
/* Fin para estudios */

/* inicio para contactos y redes */
.contacto {
  text-align: center;
}

.contacto p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  color: var(--detalles);
}

.contacto img {
  width: 100px;
  margin: 25px;
  filter: drop-shadow(2px 2px 20px var(--gradiente-A));
}

/* fin para contactos y redes */

footer {
  background: linear-gradient(
    to bottom,
    var(--gradiente-A),
    var(--gradiente-B)
  );
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

/* Media Queries */

/* Pantallas pequeñas (hasta 480px) */
@media (max-width: 480px) {
  h1,
  h2 {
    font-size: 6vw;
  }

  .nav {
    flex-direction: column;
    width: 100%;
  }

  .nav ul li {
    margin: 20px 10px;
  }

  .habilidades {
    flex-direction: column;
    align-items: center;
  }

  .cards {
    width: 80%;
    margin-bottom: 20px;
  }

  .cards .info h3 {
    font-size: 1.2rem;
  }

  .cards .info p {
    font-size: 0.8rem;
  }

  .cards .info .btn {
    font-size: 0.75rem;
    padding: 0.4rem 0.8rem;
  }
}

/* Pantallas medianas (481px - 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  h1,
  h2 {
    font-size: 5vw;
  }

  .nav {
    flex-direction: column;
    width: 100%;
  }

  .nav ul li {
    margin: 20px 20px;
  }

  .habilidades {
    flex-direction: column;
    align-items: center;
  }

  .cards {
    width: 80%;
    margin-bottom: 20px;
  }

  .cards .info h3 {
    font-size: 1.3rem;
  }

  .cards .info p {
    font-size: 0.85rem;
  }

  .cards .info .btn {
    font-size: 0.8rem;
    padding: 0.45rem 0.9rem;
  }
}

/* Pantallas medianas (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  h1,
  h2 {
    font-size: 4vw;
  }

  .nav {
    flex-direction: column;
    width: 100%;
  }

  .nav ul li {
    margin: 20px 20px;
  }

  .habilidades {
    flex-direction: column;
    align-items: center;
  }

  .cards {
    width: 45%;
    margin-bottom: 20px;
  }
}

/* Pantallas grandes (1025px - 1200px) */
@media (min-width: 1025px) and (max-width: 1200px) {
  h1,
  h2 {
    font-size: 3.5vw;
  }

  .cards {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
  }
}

/* Pantallas extra grandes (más de 1200px) */
@media (min-width: 1201px) {
  h1,
  h2 {
    font-size: 3vw;
  }

  .cards {
    width: calc(33.33% - 20px);
  }
}
